
.gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
 
}

.card{
    background-color: rgb(243, 95, 95);
    width: 24%;
    margin-bottom: 2%;
    position: relative;
    padding-bottom: 10%;
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
}

.selected{
    border-color: rgb(0, 17, 255);
    border-radius: 15px;
    border-width: 7px;
    border-style: solid;
}